{% extends "blog/base.html" %}

{% block title %}
Business
{% endblock %}


{% block content %} 
<section class="container">
	{% for post in posts %}
	<div class="list-group">
		<article>
			<div class="media-body">
				<div class="list-group">
					<a href="#">{{ post.author }}</a>
					<small>{{ post.date_posted }}</small>
				</div>
				<h2><a href="#">{{ post.title }}</a></h2>
				<p>{{ post.content }}</p>
			</div>
		</article>
	</div>



	{% endfor %}
</section>

<section class="container">
	<form action="" method="post">
		<p>
			Please submit your Blog :
			<input type="text" name="url">
		</p>
		<p>
			<button type="submit">Submit</button>
		</p>
	</form>
</section>

{% endblock %}

{% block footer %}
{% endblock %}